<a href="https://colab.research.google.com/github/oscar-defelice/TextClassifierModels/blob/main/CNN/TextClassifierCNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installation and Configuration

Google Colab offers free GPU and even TPU. For the purpose of simpler setup, we will stick to GPU. Attention models are quite big, so we need to be aware that we are constrained by 12 GB of VRAM in Google Colab as Tesla K80 is used.

First, let's check if you have GPU enabled in your session here in Colab. You can do it by running the following code.

In [1]:
import tensorflow as tf

# Get the GPU device name.
device_name = tf.test.gpu_device_name()

# The device name should look like the following:
if device_name == '/device:GPU:0':
    print('Found GPU at: {}'.format(device_name))
else:    
    raise SystemError('GPU device not found')

Found GPU at: /device:GPU:0

If you do not have the GPU enabled, just go to:

`Edit -> Notebook Settings -> Hardware accelerator -> Set to GPU`

To fine-tune our model, we need a couple of libraries to install first. 
TensorFlow 2 is already preinstalled, so the missing ones are [transformers](https://github.com/huggingface/transformers) and [TensorFlow datasets](https://github.com/tensorflow/datasets). This allows us to very easily import already pre-trained models for TensorFlow 2 and fine-tune with Keras API.

In [2]:
%%bash
pip install -q transformers tensorflow_datasets==4.0.1

In addition, we install [Tensorflow.JS](https://www.tensorflow.org/js). This will be useful to export our model once trained to deploy it on a web app.

In [3]:
%%bash
pip install -q tensorflowjs

# Loading AG News dataset

We will use [ag_news dataset](https://www.tensorflow.org/datasets/catalog/ag_news_subset).

The AG's news topic classification dataset is constructed by Xiang Zhang (xiang.zhang@nyu.edu) from the complete dataset of 1 million of news. It is used as a text classification benchmark in the following paper: Xiang Zhang, Junbo Zhao, Yann LeCun. Character-level Convolutional Networks for Text Classification. Advances in Neural Information Processing Systems 28 (NIPS 2015).

The AG's news topic classification dataset is constructed by choosing 4 largest classes from the original corpus. Each class contains 30,000 training samples and 1,900 testing samples. The total number of training samples is 120,000 and testing 7,600.

Although we could load data very quickly just with `tensorflow_datasets` library, with the following code

```python
import tensorflow_datasets as tfds

(ds_train, ds_test), ds_info = tfds.load('ag_news_subset', 
          split = (tfds.Split.TRAIN, tfds.Split.TEST),
          as_supervised=True,
          with_info=True
          )

print('info', ds_info)
```

Note how the code above returns a dictionary 
```python
FeaturesDict({
  'description': Text(shape=(), dtype=tf.string),
  'label': ClassLabel(shape=(), dtype=tf.int64, num_classes=4),
  'title': Text(shape=(), dtype=tf.string),
})
```

We want to operate some preprocessing, thus we are going to load data through the usual pandas dataframe from csv, and then convert to a tensorflow dataset, which is the robust, and ready-to-parallel computing format we want to use.

In [4]:
%%bash
wget https://s3.amazonaws.com/fast-ai-nlp/ag_news_csv.tgz
mkdir -p data && tar -xvzf ag_news_csv.tgz -C data/

ag_news_csv/
ag_news_csv/train.csv
ag_news_csv/readme.txt
ag_news_csv/test.csv
ag_news_csv/classes.txt

--2020-10-26 10:51:13--  https://s3.amazonaws.com/fast-ai-nlp/ag_news_csv.tgz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.64.158
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.64.158|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11784419 (11M) [application/x-tar]
Saving to: ‘ag_news_csv.tgz.1’

     0K .......... .......... .......... .......... ..........  0% 1.65M 7s
    50K .......... .......... .......... .......... ..........  0% 1.68M 7s
   100K .......... .......... .......... .......... ..........  1% 1.68M 7s
   150K .......... .......... .......... .......... ..........  1%  144M 5s
   200K .......... .......... .......... .......... ..........  2% 1.70M 5s
   250K .......... .......... .......... .......... ..........  2% 94.5M 4s
   300K .......... .......... .......... .......... ..........  3%  178M 4s
   350K .......... .......... .......... .......... ..........  3%  164M 3s
   400K .......... .......... .......... .......... ..........  3%  174M 3s
   450K .......... .......... .......... .......... ..........  4% 1.76M 3s
   500K .......... .......... .......... .......... ..........  4%  166M 3s
   550K .......... .......... .......... .......... ..........  5%  171M 3s
   600K .......... .......... .......... .......... ..........  5%  158M 2s
   650K .......... .......... .......... .......... ..........  6%  154M 2s
   700K .......... .......... .......... .......... ..........  6%  148M 2s
   750K .......... .......... .......... .......... ..........  6%  133M 2s
   800K .......... .......... .......... .......... ..........  7%  168M 2s
   850K .......... .......... .......... .......... ..........  7%  183M 2s
   900K .......... .......... .......... .......... ..........  8%  180M 2s
   950K .......... .......... .......... .......... ..........  8% 1.84M 2s
  1000K .......... .......... .......... .......... ..........  9%  123M 2s
  1050K .......... .......... .......... .......... ..........  9%  161M 2s
  1100K .......... .......... .......... .......... ..........  9%  156M 2s
  1150K .......... .......... .......... .......... .......... 10%  155M 2s
  1200K .......... .......... .......... .......... .......... 10%  141M 1s
  1250K .......... .......... .......... .......... .......... 11%  153M 1s
  1300K .......... .......... .......... .......... .......... 11%  173M 1s
  1350K .......... .......... .......... .......... .......... 12%  151M 1s
  1400K .......... .......... .......... .......... .......... 12%  161M 1s
  1450K .......... .......... .......... .......... .......... 13%  151M 1s
  1500K .......... .......... .......... .......... .......... 13%  137M 1s
  1550K .......... .......... .......... .......... .......... 13%  159M 1s
  1600K .......... .......... .......... .......... .......... 14%  174M 1s
  1650K .......... .......... .......... .......... .......... 14%  154M 1s
  1700K .......... .......... .......... .......... .......... 15%  143M 1s
  1750K .......... .......... .......... .......... .......... 15%  175M 1s
  1800K .......... .......... .......... .......... .......... 16%  195M 1s
  1850K .......... .......... .......... .......... .......... 16%  173M 1s
  1900K .......... .......... .......... .......... .......... 16%  163M 1s
  1950K .......... .......... .......... .......... .......... 17% 2.10M 1s
  2000K .......... .......... .......... .......... .......... 17%  179M 1s
  2050K .......... .......... .......... .......... .......... 18%  221M 1s
  2100K .......... .......... .......... .......... .......... 18%  136M 1s
  2150K .......... .......... .......... .......... .......... 19%  156M 1s
  2200K .......... .......... .......... .......... .......... 19% 73.1M 1s
  2250K .......... .......... .......... .......... .......... 19% 62.2M 1s
  2300K .......... .......... .......... .......... .......... 20% 74.2M 1s
  2350K .......... .......... .......... .......... .......... 20% 85.5M 1s
  2400K .......... .......... .......... .......... .......... 21%  184M 1s
  2450K .......... .......... .......... .......... .......... 21%  109M 1s
  2500K .......... .......... .......... .......... .......... 22%  152M 1s
  2550K .......... .......... .......... .......... .......... 22%  133M 1s
  2600K .......... .......... .......... .......... .......... 23%  192M 1s
  2650K .......... .......... .......... .......... .......... 23%  234M 1s
  2700K .......... .......... .......... .......... .......... 23%  199M 1s
  2750K .......... .......... .......... .......... .......... 24%  220M 1s
  2800K .......... .......... .......... .......... .......... 24%  260M 1s
  2850K .......... .......... .......... .......... .......... 25% 88.7M 1s
  2900K .......... .......... .......... .......... .......... 25%  109M 1s
  2950K .......... .......... .......... .......... .......... 26%  195M 1s
  3000K .......... .......... .......... .......... .......... 26%  185M 1s
  3050K .......... .......... .......... .......... .......... 26%  182M 1s
  3100K .......... .......... .......... .......... .......... 27%  149M 1s
  3150K .......... .......... .......... .......... .......... 27%  193M 1s
  3200K .......... .......... .......... .......... .......... 28%  180M 1s
  3250K .......... .......... .......... .......... .......... 28%  183M 1s
  3300K .......... .......... .......... .......... .......... 29%  160M 1s
  3350K .......... .......... .......... .......... .......... 29%  189M 1s
  3400K .......... .......... .......... .......... .......... 29%  196M 1s
  3450K .......... .......... .......... .......... .......... 30%  172M 0s
  3500K .......... .......... .......... .......... .......... 30%  171M 0s
  3550K .......... .......... .......... .......... .......... 31%  183M 0s
  3600K .......... .......... .......... .......... .......... 31%  211M 0s
  3650K .......... .......... .......... .......... .......... 32%  200M 0s
  3700K .......... .......... .......... .......... .......... 32%  199M 0s
  3750K .......... .......... .......... .......... .......... 33%  225M 0s
  3800K .......... .......... .......... .......... .......... 33%  201M 0s
  3850K .......... .......... .......... .......... .......... 33%  200M 0s
  3900K .......... .......... .......... .......... .......... 34%  175M 0s
  3950K .......... .......... .......... .......... .......... 34% 2.95M 0s
  4000K .......... .......... .......... .......... .......... 35%  199M 0s
  4050K .......... .......... .......... .......... .......... 35%  236M 0s
  4100K .......... .......... .......... .......... .......... 36%  221M 0s
  4150K .......... .......... .......... .......... .......... 36%  206M 0s
  4200K .......... .......... .......... .......... .......... 36%  119M 0s
  4250K .......... .......... .......... .......... .......... 37%  133M 0s
  4300K .......... .......... .......... .......... .......... 37% 92.0M 0s
  4350K .......... .......... .......... .......... .......... 38%  163M 0s
  4400K .......... .......... .......... .......... .......... 38%  216M 0s
  4450K .......... .......... .......... .......... .......... 39%  235M 0s
  4500K .......... .......... .......... .......... .......... 39%  184M 0s
  4550K .......... .......... .......... .......... .......... 39%  214M 0s
  4600K .......... .......... .......... .......... .......... 40%  245M 0s
  4650K .......... .......... .......... .......... .......... 40%  210M 0s
  4700K .......... .......... .......... .......... .......... 41%  193M 0s
  4750K .......... .......... .......... .......... .......... 41%  219M 0s
  4800K .......... .......... .......... .......... .......... 42%  230M 0s
  4850K .......... .......... .......... .......... .......... 42%  235M 0s
  4900K .......... .......... .......... .......... .......... 43%  199M 0s
  4950K .......... .......... .......... .......... .......... 43%  204M 0s
  5000K .......... .......... .......... .......... .......... 43%  211M 0s
  5050K .......... .......... .......... .......... .......... 44%  237M 0s
  5100K .......... .......... .......... .......... .......... 44%  183M 0s
  5150K .......... .......... .......... .......... .......... 45%  167M 0s
  5200K .......... .......... .......... .......... .......... 45%  196M 0s
  5250K .......... .......... .......... .......... .......... 46%  262M 0s
  5300K .......... .......... .......... .......... .......... 46%  197M 0s
  5350K .......... .......... .......... .......... .......... 46%  180M 0s
  5400K .......... .......... .......... .......... .......... 47%  195M 0s
  5450K .......... .......... .......... .......... .......... 47%  194M 0s
  5500K .......... .......... .......... .......... .......... 48%  154M 0s
  5550K .......... .......... .......... .......... .......... 48%  200M 0s
  5600K .......... .......... .......... .......... .......... 49%  227M 0s
  5650K .......... .......... .......... .......... .......... 49%  210M 0s
  5700K .......... .......... .......... .......... .......... 49%  201M 0s
  5750K .......... .......... .......... .......... .......... 50%  219M 0s
  5800K .......... .......... .......... .......... .......... 50%  248M 0s
  5850K .......... .......... .......... .......... .......... 51%  231M 0s
  5900K .......... .......... .......... .......... .......... 51%  185M 0s
  5950K .......... .......... .......... .......... .......... 52%  217M 0s
  6000K .......... .......... .......... .......... .......... 52%  210M 0s
  6050K .......... .......... .......... .......... .......... 53%  211M 0s
  6100K .......... .......... .......... .......... .......... 53%  200M 0s
  6150K .......... .......... .......... .......... .......... 53%  224M 0s
  6200K .......... .......... .......... .......... .......... 54%  212M 0s
  6250K .......... .......... .......... .......... .......... 54%  238M 0s
  6300K .......... .......... .......... .......... .......... 55%  196M 0s
  6350K .......... .......... .......... .......... .......... 55%  247M 0s
  6400K .......... .......... .......... .......... .......... 56%  208M 0s
  6450K .......... .......... .......... .......... .......... 56%  224M 0s
  6500K .......... .......... .......... .......... .......... 56%  212M 0s
  6550K .......... .......... .......... .......... .......... 57%  221M 0s
  6600K .......... .......... .......... .......... .......... 57%  237M 0s
  6650K .......... .......... .......... .......... .......... 58%  250M 0s
  6700K .......... .......... .......... .......... .......... 58%  215M 0s
  6750K .......... .......... .......... .......... .......... 59%  270M 0s
  6800K .......... .......... .......... .......... .......... 59% 3.14M 0s
  6850K .......... .......... .......... .......... .......... 59%  234M 0s
  6900K .......... .......... .......... .......... .......... 60%  211M 0s
  6950K .......... .......... .......... .......... .......... 60%  209M 0s
  7000K .......... .......... .......... .......... .......... 61%  249M 0s
  7050K .......... .......... .......... .......... .......... 61%  216M 0s
  7100K .......... .......... .......... .......... .......... 62%  197M 0s
  7150K .......... .......... .......... .......... .......... 62%  240M 0s
  7200K .......... .......... .......... .......... .......... 62%  234M 0s
  7250K .......... .......... .......... .......... .......... 63%  224M 0s
  7300K .......... .......... .......... .......... .......... 63%  207M 0s
  7350K .......... .......... .......... .......... .......... 64%  230M 0s
  7400K .......... .......... .......... .......... .......... 64%  219M 0s
  7450K .......... .......... .......... .......... .......... 65%  225M 0s
  7500K .......... .......... .......... .......... .......... 65%  196M 0s
  7550K .......... .......... .......... .......... .......... 66%  223M 0s
  7600K .......... .......... .......... .......... .......... 66%  262M 0s
  7650K .......... .......... .......... .......... .......... 66%  228M 0s
  7700K .......... .......... .......... .......... .......... 67%  187M 0s
  7750K .......... .......... .......... .......... .......... 67%  257M 0s
  7800K .......... .......... .......... .......... .......... 68%  234M 0s
  7850K .......... .......... .......... .......... .......... 68%  251M 0s
  7900K .......... .......... .......... .......... .......... 69%  203M 0s
  7950K .......... .......... .......... .......... .......... 69%  210M 0s
  8000K .......... .......... .......... .......... .......... 69%  213M 0s
  8050K .......... .......... .......... .......... .......... 70%  242M 0s
  8100K .......... .......... .......... .......... .......... 70%  197M 0s
  8150K .......... .......... .......... .......... .......... 71%  230M 0s
  8200K .......... .......... .......... .......... .......... 71%  242M 0s
  8250K .......... .......... .......... .......... .......... 72%  223M 0s
  8300K .......... .......... .......... .......... .......... 72%  128M 0s
  8350K .......... .......... .......... .......... .......... 72%  207M 0s
  8400K .......... .......... .......... .......... .......... 73%  242M 0s
  8450K .......... .......... .......... .......... .......... 73%  228M 0s
  8500K .......... .......... .......... .......... .......... 74%  204M 0s
  8550K .......... .......... .......... .......... .......... 74%  236M 0s
  8600K .......... .......... .......... .......... .......... 75%  114M 0s
  8650K .......... .......... .......... .......... .......... 75%  243M 0s
  8700K .......... .......... .......... .......... .......... 76%  194M 0s
  8750K .......... .......... .......... .......... .......... 76%  229M 0s
  8800K .......... .......... .......... .......... .......... 76%  143M 0s
  8850K .......... .......... .......... .......... .......... 77%  201M 0s
  8900K .......... .......... .......... .......... .......... 77%  188M 0s
  8950K .......... .......... .......... .......... .......... 78%  188M 0s
  9000K .......... .......... .......... .......... .......... 78%  230M 0s
  9050K .......... .......... .......... .......... .......... 79%  233M 0s
  9100K .......... .......... .......... .......... .......... 79%  206M 0s
  9150K .......... .......... .......... .......... .......... 79%  235M 0s
  9200K .......... .......... .......... .......... .......... 80%  113M 0s
  9250K .......... .......... .......... .......... .......... 80%  221M 0s
  9300K .......... .......... .......... .......... .......... 81%  199M 0s
  9350K .......... .......... .......... .......... .......... 81%  221M 0s
  9400K .......... .......... .......... .......... .......... 82%  246M 0s
  9450K .......... .......... .......... .......... .......... 82%  241M 0s
  9500K .......... .......... .......... .......... .......... 82%  186M 0s
  9550K .......... .......... .......... .......... .......... 83%  256M 0s
  9600K .......... .......... .......... .......... .......... 83%  222M 0s
  9650K .......... .......... .......... .......... .......... 84%  267M 0s
  9700K .......... .......... .......... .......... .......... 84% 3.04M 0s
  9750K .......... .......... .......... .......... .......... 85%  210M 0s
  9800K .......... .......... .......... .......... .......... 85%  209M 0s
  9850K .......... .......... .......... .......... .......... 86%  214M 0s
  9900K .......... .......... .......... .......... .......... 86%  201M 0s
  9950K .......... .......... .......... .......... .......... 86%  242M 0s
 10000K .......... .......... .......... .......... .......... 87%  221M 0s
 10050K .......... .......... .......... .......... .......... 87%  252M 0s
 10100K .......... .......... .......... .......... .......... 88%  195M 0s
 10150K .......... .......... .......... .......... .......... 88%  248M 0s
 10200K .......... .......... .......... .......... .......... 89%  246M 0s
 10250K .......... .......... .......... .......... .......... 89%  212M 0s
 10300K .......... .......... .......... .......... .......... 89%  184M 0s
 10350K .......... .......... .......... .......... .......... 90%  206M 0s
 10400K .......... .......... .......... .......... .......... 90%  219M 0s
 10450K .......... .......... .......... .......... .......... 91%  239M 0s
 10500K .......... .......... .......... .......... .......... 91%  232M 0s
 10550K .......... .......... .......... .......... .......... 92%  197M 0s
 10600K .......... .......... .......... .......... .......... 92%  229M 0s
 10650K .......... .......... .......... .......... .......... 92%  225M 0s
 10700K .......... .......... .......... .......... .......... 93%  212M 0s
 10750K .......... .......... .......... .......... .......... 93%  209M 0s
 10800K .......... .......... .......... .......... .......... 94%  231M 0s
 10850K .......... .......... .......... .......... .......... 94%  202M 0s
 10900K .......... .......... .......... .......... .......... 95%  231M 0s
 10950K .......... .......... .......... .......... .......... 95%  181M 0s
 11000K .......... .......... .......... .......... .......... 96%  189M 0s
 11050K .......... .......... .......... .......... .......... 96%  215M 0s
 11100K .......... .......... .......... .......... .......... 96%  180M 0s
 11150K .......... .......... .......... .......... .......... 97%  152M 0s
 11200K .......... .......... .......... .......... .......... 97%  162M 0s
 11250K .......... .......... .......... .......... .......... 98%  180M 0s
 11300K .......... .......... .......... .......... .......... 98% 83.4M 0s
 11350K .......... .......... .......... .......... .......... 99%  154M 0s
 11400K .......... .......... .......... .......... .......... 99%  191M 0s
 11450K .......... .......... .......... .......... .......... 99%  149M 0s
 11500K ........                                              100%  155M=0.3s

2020-10-26 10:51:14 (37.3 MB/s) - ‘ag_news_csv.tgz.1’ saved [11784419/11784419]

In [5]:
import pandas as pd

train_data = pd.read_csv('/content/data/ag_news_csv/train.csv', engine='python', encoding='utf-8', header =None, names=['Class Index',	'Title',	'Description'])
test_data = pd.read_csv('/content/data/ag_news_csv/test.csv', engine='python', encoding='utf-8', header = None, names=['Class Index',	'Title',	'Description'])

print('Training set summary\n')
print(train_data.describe())
print('Test set summary\n')
print(test_data.describe())

Training set summary

         Class Index
count  120000.000000
mean        2.500000
std         1.118039
min         1.000000
25%         1.750000
50%         2.500000
75%         3.250000
max         4.000000
Test set summary

       Class Index
count  7600.000000
mean      2.500000
std       1.118108
min       1.000000
25%       1.750000
50%       2.500000
75%       3.250000
max       4.000000

Now let's explore the examples for fine-tunning. We can just take the top 5 examples and labels by `ds_train.take(5)`, so that we can explore the dataset without the need to iterate over whole 25000 examples in train dataset.

In [6]:
train_data.head()

   Class Index  ...                                        Description
0            3  ...  Reuters - Short-sellers, Wall Street's dwindli...
1            3  ...  Reuters - Private investment firm Carlyle Grou...
2            3  ...  Reuters - Soaring crude prices plus worries\ab...
3            3  ...  Reuters - Authorities have halted oil export\f...
4            3  ...  AFP - Tearaway world oil prices, toppling reco...

[5 rows x 3 columns]

In [7]:
test_data.head()

   Class Index  ...                                        Description
0            3  ...  Unions representing workers at Turner   Newall...
1            4  ...  SPACE.com - TORONTO, Canada -- A second\team o...
2            4  ...  AP - A company founded by a chemistry research...
3            4  ...  AP - It's barely dawn when Mike Fitzpatrick st...
4            4  ...  AP - Southern California's smog-fighting agenc...

[5 rows x 3 columns]

## Import libraries

Here we import all the libraries we need to build and then train our model.

In [8]:
import re
import string
import numpy as np

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split

import tensorflow as tf
import tensorflow_datasets as tfds
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPool1D, Dropout, Dense, GlobalMaxPool1D, Embedding, Activation
from keras.utils import to_categorical
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn import preprocessing
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

## Data Preprocessing

Here we have to prepare out data, with some text preprocessing, so add special tokens, removing punctuation and stopwords if necessary, and so on.

### Rename columns

In [9]:
# rename labels

labels = {1:'World News', 2:'Sports News', 3:'Business News', 4:'Science-Technology News'}

train_data['label'] = train_data['Class Index'].map(labels)
test_data['label'] = test_data['Class Index'].map(labels)

train_data = train_data.drop(columns=['Class Index'])
test_data = test_data.drop(columns=['Class Index'])

### Remove punctuation

First of all, we define a function to remove punctuation.

In [ ]:
# The old and loved remove punctuation function

def remove_punc(text):
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [ ]:
train_data['Text'] = train_data['Description'].apply(lambda x: remove_punc(x))
test_data['Text'] = test_data['Description'].apply(lambda x: remove_punc(x))

In [ ]:
train_data.head()

   Class Index  ...                                               Text
0            3  ...  Reuters  Shortsellers Wall Streets dwindlingba...
1            3  ...  Reuters  Private investment firm Carlyle Group...
2            3  ...  Reuters  Soaring crude prices plus worriesabou...
3            3  ...  Reuters  Authorities have halted oil exportflo...
4            3  ...  AFP  Tearaway world oil prices toppling record...

[5 rows x 4 columns]

### Clean text

Hence, making use of nltk tokeniser, we clean our text:

1. Lowercase our texts.

2. Remove stopwords.

In [ ]:
# data cleaning and remove stopwords

def data_cleaner(text):        
    lower_case = text.lower()
    tokens=word_tokenize(lower_case)
    return (" ".join(tokens)).strip()

def remove_stopwords (text):        
    list1=[word for word in text.split() if word not in stopwords.words('english')]
    return " ".join(list1)

train_data['Text'] = train_data['Text'].apply(lambda x: data_cleaner(x))
test_data['Text'] = test_data['Text'].apply(lambda x: data_cleaner(x))

train_data['Text'] = train_data['Text'].apply(lambda x: remove_stopwords(x))
test_data['Text'] = test_data['Text'].apply(lambda x: remove_stopwords(x))

In [10]:
train_data['Text'] = train_data['Description']
test_data['Text'] = test_data['Description']

### Tokenise

We make use of Keras tokeniser to assign to each word a number.

In [11]:
#@title Tokeniser configuration

max_len = 75#@param {type:"integer"}

In [12]:
tokeniser = Tokenizer()
tokeniser.fit_on_texts(train_data['Text'])

tokenised_text = tokeniser.texts_to_sequences(train_data['Text'])
tokenised_text = pad_sequences(tokenised_text, maxlen=max_len)

In [13]:
encoded_labels = preprocessing.LabelEncoder()
y = encoded_labels.fit_transform(train_data['label'])
y = to_categorical(y)

In [14]:
tokenised_text_test = tokeniser.texts_to_sequences(test_data['Text'])
tokenised_text_test = pad_sequences(tokenised_text_test, maxlen=max_len)

In [15]:
y_test = encoded_labels.transform(test_data['label'])
y_test = to_categorical(y_test)

In [16]:
vocab_size = len(tokeniser.word_index) + 1

We also export the dictionary word-to-index to a `json` file, this will be needed in order to convert a text to-be-classified in a format that the model can digest.

In [17]:
# Export the ditionary word-to-index to a json file
import json 
with open( 'word_dict.json' , 'w' ) as file:    
    json.dump(tokeniser.word_index , file )

### Convert data to TensorFlow datasets

We convert data to Tensorflow dataset, in order to feed the Keras model.

In [18]:
train_dataset = tf.data.Dataset.from_tensor_slices((tokenised_text, y))
test_dataset = tf.data.Dataset.from_tensor_slices((tokenised_text_test, y_test))

# Building the model

In [22]:
#@title Model Parameters
#@markdown Here we give a minimal set of parameters for model configuration.

emb_dim = 64 #@param {type:"integer"}
dropout_rate = 0.3#@param {type: "number"}
n_labels = len(labels)

learning_rate = 0.0006#@param {type: "number"}

loss = tf.keras.losses.CategoricalCrossentropy(from_logits=True)
metric = tf.keras.metrics.CategoricalAccuracy('accuracy')
opt = tf.keras.optimizers.Adam(learning_rate = learning_rate)

We are now ready to build our model, making use of Keras `Sequential` object.

In [23]:
# build the model
keras_model = Sequential()
keras_model.add(Embedding(vocab_size, output_dim = emb_dim, input_length=max_len))
keras_model.add(Dropout(dropout_rate))
keras_model.add(Conv1D(50, 3, activation='relu', padding='same', strides=1))
keras_model.add(MaxPool1D())
keras_model.add(Dropout(dropout_rate))
keras_model.add(Conv1D(100, 3, activation='relu', padding='same', strides=1))
keras_model.add(MaxPool1D())
keras_model.add(Dropout(dropout_rate))
keras_model.add(Conv1D(200, 3, activation='relu', padding='same', strides=1))
keras_model.add(GlobalMaxPool1D())
keras_model.add(Dropout(dropout_rate))
keras_model.add(Dense(100))
keras_model.add(Activation('relu'))
keras_model.add(Dropout(dropout_rate))
keras_model.add(Dense(n_labels))
keras_model.add(Activation('softmax'))
keras_model.compile(loss=loss, metrics=[metric], optimizer=opt)
keras_model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 75, 64)            4079296
_________________________________________________________________
dropout_5 (Dropout)          (None, 75, 64)            0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 75, 50)            9650
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 37, 50)            0
_________________________________________________________________
dropout_6 (Dropout)          (None, 37, 50)            0
_________________________________________________________________
conv1d_4 (Conv1D)            (None, 37, 100)           15100
_________________________________________________________________
max_pooling1d_3 (MaxPooling1 (None, 18, 100)           0
_________________________________________________________________
dropout_7 (Dropout)          (None, 18, 100)           0
_________________________________________________________________
conv1d_5 (Conv1D)            (None, 18, 200)           60200
_________________________________________________________________
global_max_pooling1d_1 (Glob (None, 200)               0
_________________________________________________________________
dropout_8 (Dropout)          (None, 200)               0
_________________________________________________________________
dense_2 (Dense)              (None, 100)               20100
_________________________________________________________________
activation_2 (Activation)    (None, 100)               0
_________________________________________________________________
dropout_9 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 4)                 404
_________________________________________________________________
activation_3 (Activation)    (None, 4)                 0
=================================================================
Total params: 4,184,750
Trainable params: 4,184,750
Non-trainable params: 0
_________________________________________________________________

# Training

We are now ready to launch the training, though the `fit` method, we set the numebr of epochs and launch the model.

In [24]:
#@title Model Training
#@markdown We can move the slider to set number of epochs 
#@markdown and give a different batch size.

number_of_epochs = 7 #@param {type: "slider", min: 1, max: 12}
batch_size = 64 #@param ["2", "8", "16", "32", "64", "128", "256", "512"] {type:"raw", allow-input: true}

# train dataset
ds_train_encoded = train_dataset.shuffle(10000).batch(batch_size)

# test dataset
ds_test_encoded = test_dataset.batch(batch_size)

keras_model.fit(ds_train_encoded, epochs=number_of_epochs, validation_data=ds_test_encoded)

Epoch 1/7
1875/1875 [==============================] - 73s 39ms/step - loss: 0.9571 - accuracy: 0.7741 - val_loss: 0.8554 - val_accuracy: 0.8867
Epoch 2/7
1875/1875 [==============================] - 72s 38ms/step - loss: 0.8462 - accuracy: 0.8962 - val_loss: 0.8482 - val_accuracy: 0.8943
Epoch 3/7
1875/1875 [==============================] - 72s 39ms/step - loss: 0.8337 - accuracy: 0.9089 - val_loss: 0.8438 - val_accuracy: 0.8986
Epoch 4/7
1875/1875 [==============================] - 72s 38ms/step - loss: 0.8272 - accuracy: 0.9157 - val_loss: 0.8450 - val_accuracy: 0.8980
Epoch 5/7
1875/1875 [==============================] - 72s 38ms/step - loss: 0.8225 - accuracy: 0.9205 - val_loss: 0.8434 - val_accuracy: 0.8988
Epoch 6/7
1875/1875 [==============================] - 72s 38ms/step - loss: 0.8207 - accuracy: 0.9225 - val_loss: 0.8434 - val_accuracy: 0.8993
Epoch 7/7
1875/1875 [==============================] - 72s 38ms/step - loss: 0.8187 - accuracy: 0.9245 - val_loss: 0.8388 - val_accuracy: 0.9042

## Evaluation

In [25]:
y_pred = to_categorical(np.argmax(keras_model.predict(tokenised_text_test), axis=1))

print(classification_report(y_test, y_pred, target_names=labels.values(), digits=4))

                         precision    recall  f1-score   support

             World News     0.8657    0.8616    0.8636      1900
            Sports News     0.8713    0.8905    0.8808      1900
          Business News     0.9518    0.9763    0.9639      1900
Science-Technology News     0.9285    0.8884    0.9080      1900

              micro avg     0.9042    0.9042    0.9042      7600
              macro avg     0.9043    0.9042    0.9041      7600
           weighted avg     0.9043    0.9042    0.9041      7600
            samples avg     0.9042    0.9042    0.9042      7600

# Predictions

Finally, we can now try to make predictions with our model.

The function `encode` below takes a text stream and returns the sequence of word indices. 

The encoded text is the input of the `predict` method of our model.

In [26]:
def encode(text):
  text = tokeniser.texts_to_sequences(text)
  return pad_sequences(text, maxlen=max_len)

Here some examples. 
Feel free to add as many other sentences as you like.

In [27]:
additional_sentence = "Apple iphone 12 is out!" #@param {type:"string"}

my_sentences = ['President Bush wants the war in Iraq, again', 
                "LeBron James wins the NBA championship with Los Angeles Lakers", 
                "Eni stock action value rise up to 14$",
                "Futures in New York held near $41 a barrel after Saudi Oil Minister Prince Abdulaziz Bin Salman called on the OPEC+ alliance to be proactive in the face of uncertain demand. Yet a draft statement from the meeting made no mention of any changes to the current deal, which calls for production cuts to be eased from January. The market is also looking out for any signs that a stimulus deal can still be agreed in Washington ahead of the election while a resurgence in the pandemic threatens any recovery.",
                additional_sentence
                ]

encode(my_sentences);

`predict` method returns a vector of probablities.

In [28]:
keras_model.predict(encode(my_sentences))

array([[2.4516769e-34, 2.4753018e-34, 9.8879884e-30, 1.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.2323827e-27, 1.5954859e-30, 6.1629427e-29],
       [1.0000000e+00, 1.8224776e-11, 7.9000709e-11, 3.5611195e-11],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 0.0000000e+00]],
      dtype=float32)

In order to get the predicted class, one can call the `argmax` function.

In [29]:
for i, sen in enumerate(my_sentences):
  print(i, sen)
  print(encoded_labels.classes_[np.argmax(keras_model.predict(encode(my_sentences))[i])])

0 President Bush wants the war in Iraq, again
World News
1 LeBron James wins the NBA championship with Los Angeles Lakers
Sports News
2 Eni stock action value rise up to 14$
Business News
3 Futures in New York held near $41 a barrel after Saudi Oil Minister Prince Abdulaziz Bin Salman called on the OPEC+ alliance to be proactive in the face of uncertain demand. Yet a draft statement from the meeting made no mention of any changes to the current deal, which calls for production cuts to be eased from January. The market is also looking out for any signs that a stimulus deal can still be agreed in Washington ahead of the election while a resurgence in the pandemic threatens any recovery.
Business News
4 Apple iphone 12 is out!
Science-Technology News

# Save model and export in JavaScript

In order to convert our model using Tensorflow.js, we have to save the trained model.

In [30]:
#save Keras model
saved_model_path = "modelCNN.h5"

keras_model.save(saved_model_path)

Hence, we are ready to convert the saved model.

In [31]:
%%bash
tensorflowjs_converter --input_format=keras modelCNN.h5 ./model/

2020-10-26 11:53:42.024115: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1

Since we have not only the model, but also weights files, we zip everything to make it ready to download.

In [32]:
%%bash
zip -r model.zip ./model

  adding: model/ (stored 0%)
  adding: model/group1-shard4of4.bin (deflated 8%)
  adding: model/group1-shard2of4.bin (deflated 7%)
  adding: model/model.json (deflated 82%)
  adding: model/group1-shard1of4.bin (deflated 7%)
  adding: model/group1-shard3of4.bin (deflated 7%)